@charset "utf-8";

body {
  margin: 0;
}
.container {
  padding: 30px;
  text-align: center;
}
header {
  background-color: darksalmon;
  text-align: center; 
  font-family: 'Courier New', Courier, monospace;
}
header h2 {
  margin: 0;
  padding: 4px;
  font-size: 16px;
  font-weight: 300;
}
footer {
  background-color: darksalmon;
  text-align: center;
  margin: 50px auto 0px auto;
  font-size: 16px;
  padding: 4px;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}
a {
  color: chocolate;
}
a:hover {
  color: rgba(210, 105, 30, 0.7);
}
ul {
  padding: 0;
  text-align: center;
} 
li {
  list-style: none;
  padding: 0;
} 
table{
  margin: 30px auto;
}
th {
  font-weight: normal;
  text-align: center;
  padding: 3px;
}
td {
  padding: 3px;
}
.error-box {
  border: 3px solid darksalmon;
  border-radius: 5px;
  padding: 10px;
  width: 320px;
  text-align: center;
  margin: 20px auto 0px;
}
/**
 * ------------------
 * ボタン
 * ------------------
 */
.logout {
  display: inline-block;
  margin: 10px;
  background-color: lightsalmon;
  color: #fff;
}
.top {
  background-color: salmon;
  color: #fff;
  margin: 10px;
}
.back {
  border: 2px solid salmon;
  color: salmon;
  margin: 10px;
}
.con {
  border: 2px solid chocolate;
  color: rgb(172, 86, 24);
}
.top:hover,
.logout:hover{
  color: #fff;
  opacity: 0.8;
}
.con:hover{
  background-color: chocolate;
  opacity: 0.7;
  color: #fff;
}
.back:hover{
  background-color: salmon;
  color: #fff;
  opacity: 0.8;
}
.btns {
  text-align: center;
  margin-top: 20px;
}

/**
 * ------------------
 * ログイン画面 
 * ------------------
 */


/**
 * ------------------
 * メニュー画面
 * ------------------
 */
.title {
  text-align: center;
  margin: 10px auto;
}
.contents {
  height: 200px;
  text-align: center;
  padding: 30px;
}
#menu {
  width: 100%;
  text-align: center;
}
.icon {
  display: inline-block;
  font-size: 40px;
  border-radius: 50%;
  background-color: #ddd;
  color: #fff;
  width: 2em;
  line-height: 2em;
  text-align: center;
}
.contents a {
  display:flex;
  flex-direction: column;
  padding: 35px 0px;
  text-decoration: none;
  color: black;
}
.contents a:hover {
  color: rgba(0, 0, 0, 0.4);
}
.contents p {
  display:flex;
  flex-direction: column;
  padding: 35px 0px;
  text-decoration: none;
  color: black;
}
.sa {
  background-color: rgba(255, 160, 122, 0.26);
}
.wl {
  background-color: #fff;
}

/**
 * ------------------
 * パスワード変更
 * ------------------
 */
.password {
  width: 400px;
  text-align: center;
  margin: 30px auto;
}
.password input{
  margin: 0px auto 25px;
  width: 250px;
}


/**
 * ------------------
 * メッセージ
 * ------------------
 */
.m_list {
  margin: 40px 70px 40px 0px;
}
.create_message {
  margin: 30px auto;
  text-align: center;
}
.create_message input{
  margin-bottom: 30px;
}
.create_message select{
  margin-bottom: 30px;
  height: 30px;
  width: 200px;
}
.create_message label{
  font-size: 18px;
}
.time {
  text-align: right;
  margin: 0 auto;
  padding-right: 20px;
  width: 600px;
  font-size: 14px;
}
.message {
  margin: 10px auto 50px;
  padding: 10px;
  border: 2px solid darksalmon;
  border-radius: 5px;
  width: 600px;
}
.mtitle {
  text-align: center;
  margin: 40px auto 0px;
}

/* シフト */

.names{
  width: 170px;
  margin: 0 auto;
  text-align: left;
}
.names_con{
  width: 150px;
  margin: 0 auto;
  text-align: left;
}

@media (min-width: 625px) {
  #menu {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 625px) {
  .message,
  .time {
    width: 90%;
  }

}
